$color-main-blue: rgb(83, 197, 218);
$color-light-blue: rgb(127, 208, 221);

$color-main-red: rgb(237, 108, 111);
$color-light-red: rgb(240, 131, 131);

$color-main-yellow: rgb(246, 211, 108);
$color-light-yellow: rgb(251, 238, 169);

$color-main-green: rgb(81, 188, 151);
$color-light-green: rgb(131, 203, 175);